.armorPointsForm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.armorPointsLabel {
    display: flex;
    flex-direction: row;
}

.armorPointsText {
    width: 15px;
}